.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
#about .col-lg-6{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-img{
  max-width: 70%;
  margin-top: 1rem;
}
/* #about .text-muted{
  font-size: 1.2em;
} */
#about{
  height: 100vh;
}
#about p{
  font-size: 1.2em;
}
#about p:nth-child(1){
  font-size: 1em;
}

.about-content{
  padding: 0 37px;
}
#about h1{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#about .container{
  display: flex;
} 
#about .row{
  position: relative;
  left: 0;
} 