@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");


:root {
  --navbar-white: #fafafa;
  --navbar-black: #131313;
  --navbar-active-color: #fafafa;
  --navbar-bg-active-color: #ff9900;
  --bg-light-blue: #00c6ff;
  --bg-dark-blue: #0072ff;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
body {
  font-family: "Open Sans", sans-serif;
  background: var(--navbar-white);
}
.jumbo {
  padding-top: 100px;
  min-height: 200vh;
}

.shrink .navbar {
  color: var(--navbar-white);
  background: var(--bg-dark-blue);
  background: -webkit-linear-gradient(55deg,var(--bg-light-blue) 10%,var(--bg-dark-blue) 90%);
  background: linear-gradient(35deg,var(--bg-light-blue) 10%,var(--bg-dark-blue) 90%);
}

.navbar {
  /* Override the --navbar-white variable */
  --navbar-white: pink;
  /* background-color: var(--navbar-white); */
  border: 1px solid #ccc;
  position: fixed;
  width: 100vw;
  z-index: 10;
  height: 4rem;
  justify-content: center;
  background: linear-gradient( rgb(255, 239, 186, 0.9), rgb(255, 255, 255, 0.9));
}

.navbar ul li:hover{
  color: #0072ff;
}
.nav-link:focus,
.nav-link:hover{
  color: #0072ff;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0px 0px 3px black;
}

.navHeader{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navHeader span{
  font-weight: 500;
  color: #1f4e88;
}

@media only screen and (max-width: 991px) {
  
  .navbar-collapse{
    background-color: white;
    display: flex;
    border-radius: 1em;
    padding-right: 1.3rem;
  }
  .container{
    max-width: 800px;
  }
  .navbar-collapse ul li{
    display: flex;
    justify-content: end;
  }
  #home{
    position: relative;
    min-height: 100vh;
  }
  #home .textArea p{
    margin-top: 70%;
  }
}

.navbar .container{
  position: absolute;
  top: 0;
}