@tailwind base;
@tailwind components;
@tailwind utilities;

.textArea{
    position: absolute;
    top: 0;
    /* left: 0; */
    width: 45%;
    /* margin-top: -40%; */
}
.flexDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.textArea h1{
    margin-bottom: 10%;
    /* margin-top: -10px; */
}

body{
    overflow-x: hidden;
}
